spring:
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        format_sql: true
  servlet:
    multipart:
      max-request-size: 500MB
      max-file-size: 500MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: ${SMTP_AUTH}
          timeout: ${SMTP_TIMEOUT}
          starttls.enable: ${SMTP_STARTTLS_ENABLE}
  mvc:
    static-path-pattern: "/static/**"
  web:
    resources:
      static-locations: "classpath:/static/"
jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}
server:
  port: ${SERVER_PORT}

oauth:
  providers:
    kakao:
      client-id: { KAKAO_CLIENT_ID }
      client-secret: { KAKAO_CLIENT_SECRET }
      redirect-uri: "{BASEURL}/oauth2/callback/kakao"
    google:
      client-id: { GOOGLE_CLIENT_ID }
      client-secret: { GOOGLE_CLIENT_SECRET }
      redirect-uri: "{BASEURL}/oauth2/callback/google"

cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET}
    stack.auto: false
    region.static: ap-northeast-2
    credentials:
      accessKey: ${AWS_S3_ACCESS_KEY_ID}
      secretKey: ${AWS_S3_SECRET_ACCESS_KEY}

coolsms:
  apikey: ${your_api_key}
  apisecret: ${your_api_secret}
  fromnumber: ${your_phone_number}